/***********************/
/*    Global Styles    */
/***********************/

body{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

/***********************/
/*    Navbar Styles    */
/***********************/

.uk-navbar-nav>li>a {
    transition: .2s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
    font-weight: 600;
    text-transform: uppercase;
}

.uk-navbar-nav>li.uk-active>a {
    color: rgb(255, 255, 255) !important;
}

.uk-navbar-nav>li>a {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: large !important;
    color: rgb(82, 82, 82) !important;
}

/* Adjusts the size and padding for the image brand */
#navbrand {
    padding: 10%;
    max-height: 200px;
    min-height: 100%;
}

/***********************/
/*    Header Styles    */
/***********************/

.uk-navbar-nav>li>a:hover {
    color: rgb(255, 255, 255) !important;
}

.cont {
    position: relative;
    min-height: 100vh;
}

.main-img{
  background-image: url("https://s.hdnux.com/photos/01/05/51/56/18258833/11/920x920.jpg");
  height: 100vh; 
  filter: brightness(30%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-text-small{
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-btn{
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* This class is applied to all bodies of text that should be red */
.red{
    background-color: rgb(97, 0, 0);
    padding: 2%;
}

.red p{
    color: white;
    margin: auto 0;
    font-size: 20px;
}

#mission{
    color: white;
    margin: auto 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    padding-right: 10px;
}

#slash-1 {
    background-image: linear-gradient(135deg, rgb(97,0,0) 20px, transparent 17px), linear-gradient(-135deg, rgb(97,0,0) 20px, transparent 17px);
    background-size: 10.5em 11em;
    background-repeat: repeat-x;
    height: 100px;
}

.section{
    background-color: #242424 !important;
}

h1{
    color: white !important;
}

.ish{
    background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}